<br>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Compartir</button>
            <button type="button" (click)="exportexcel()" class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Esta semana
        </button>
    </div>
</div>

<h2>Listado de productos</h2>
<br><br>
<div class="table-responsive">
    <table id="excel-table" class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Referencia</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaproducto">
                <td>{{item.idProducto}}</td>
                <td>{{item.nombreProducto}}</td>
                <td>{{item.referencia}}</td>
                <td>{{item.descripcion}}</td>
            </tr>
        </tbody>
    </table>
</div>