<!-- Creación del formulario -->
<br>
<div class="row">
    <div class="card col-3">
        <div class="card-body">
            <div [hidden]="submitted">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="categoria">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" required [(ngModel)]="pedido.cantidad"
                            name="cantidad">
                    </div>
                    <div class="form-group">
                        <label for="categoria">fecha Orden</label>
                        <input type="date" class="form-control" id="fechaOrden" required [(ngModel)]="pedido.fechaOrden"
                            name="fechaOrden">

                    </div>
                    <div class="form-group">
                        <label for="categoria">Estado</label>
                        <input type="text" class="form-control" id="estado" required [(ngModel)]="pedido.estado"
                            name="estado">
                    </div>
                    <div class="form-group">
                        <label for="categoria">No. Producto</label>
                        <input type="number" class="form-control" id="idProducto" required
                            [(ngModel)]="pedido.idProducto" name="idProducto">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Creación de la tabla  -->
    <div class="col-9">
        <table id="cssTable" class="table">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">No. Orden</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">fecha Orden</th>
                    <th scope="col">Estado</th>
                    <th scope="col">No. Producto</th>
                    <th scope="col">Opción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listapedidos">
                    <td>{{item.idOrden}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.fechaOrden}}</td>
                    <td>{{item.estado}}</td>
                    <td>{{item.idProducto}}</td>
                    <td>
                        <button class="btn btn-success btn btn-space"
                            [routerLink]="['/editarproducto', item.idProducto]">Editar</button>
                        <button (click)="eliminarProducto(item.idProducto)"
                            class="btn btn-danger btn btn-space">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>